.carrosel__titulo{
    color: var(--laranja);
    background-color: var(--branco);
    text-align: center;
    text-transform: uppercase;
    padding: 1em 0 .5em 0;
    font-size: 1.125rem;
    font-weight: 700;
}