@import url("../css/header.css");
@import url("../css/banner.css");
@import url("../css/carrosel.css");
@import url("../css/topicos.css");
@import url("../css/contato.css");
@import url("../css/footer.css");

:root {
  --cor-de-fundo: #ebecee;
  --branco: #ffffff;
  --laranja: #eb9b00;
  --azul-degrade: linear-gradient(97.54deg, #002f52 35.49%, #326589 165.37%);
  --azul: #002f52;
  --fonte-principal: "Poppins", sans-serif;
  --fonte-secundario: 'Josefin Sans', sans-serif;
  --preto: #000;
  --cinza: #474646;
  --cinza-claro: #858585;
}

body {
  background-color: var(--cor-de-fundo);
  font-family: var(--fonte-principal);
  font-size: 1rem;
  font-weight: 400;
}
